@font-face {
	font-family: nimbus;
	src: url('/fonts/nimbusmono-regular.otf');
}


body {
	background-color: linen;
	text-align: center;
	font-family: nimbus;
}

.main_wrapper {
	display: inline-block;
	padding: 2em;
}

.main_img {
	height: 400px;
	width: 400px;
	opacity: .8;
	display: inline-block;
	position: relative;
	-webkit-filter: grayscale(100%);
}

.dogDetails {
	position: absolute;
	z-index: 20;
	font-size: 30px;
	color: black;
	font-weight: bold;
}

img:hover {
	opacity: 1;
	-webkit-filter: grayscale(0);

}