@font-face {
	font-family: nimbus;
	src: url('/fonts/nimbusmono-regular.otf');
}


body {
	background-color: linen;
	text-align: center;
	font-family: nimbus;
}

.main_wrapper {
	display: inline-block;
	padding: 2em;
}

.main_img {
	height: 400px;
	width: 400px;
	display: inline-block;

}

.dogDetails {
	z-index: 1000;
	font-size: 30px;
	color: white;
	font-weight: bold;
}